<?xml version="1.0" encoding="UTF-8"?>

	<!-- REQUIREMENTS:
		  - IIS 7 or greater
		  - Removing 'index.cfm' requires IIS URL Rewrite Module 2.0 (http://www.iis.net/download/URLRewrite)
	-->

	<!-- AVAILABLE OPTIONS:
	     Rule 1: index.cfm and siteid in URL disabled
	     Rule 2: index.cfm in URL disabled
	     SEO Rules: allow for separate sitemap and robots files per site
	 -->

	 <!-- USAGE:
			- Rename this document to "web.config" (without the quotation marks)
			  or copy the <rewrite><rules> section below into your working web.config
			- Enable the rewrite options below by changing the enabled value to "true"
			- Edit /config/settings.ini.cfm as noted in the comments before each rule
			- Reload Mura CMS
	-->

<configuration>

	<system.web>

	</system.web>
	
	

	<system.webServer>
		<rewrite>
            <rules>
                <rule name="api" stopProcessing="true">
                  <match url="api/(.+.*)$" ignoreCase="true" />
                    <conditions>
                      <add input="{PATH_INFO}" pattern="^.*/index.cfm.*$" negate="true" />
                    </conditions>
                  <action type="Rewrite" url="/api/index.cfm?endpoint=/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors existingResponse="PassThrough" errorMode="Custom" />


	</system.webServer>
</configuration>
